@import "tailwindcss";

@font-face {
  font-family: OpenSans;
  src: url("/src/assets/fonts/OpenSans.ttf");
}

@font-face {
  font-family: Banny;
  src: url("/src/assets/fonts/Banny.otf");
}

@theme {
  --font-opensans: OpenSans, sans-serif;
  --font-banny: Banny, sans-serif;
  --color-primary: #e8c300;
  --color-secondary: #333333;
}
